body {
        background-image: linear-gradient(to bottom right,rgb(105, 16, 43), black);
      
}

.jumbotron_jumbotron-fluid {
    color: black;
}
.jumbotron {
    background-image: url("https://i.pinimg.com/originals/f0/45/4a/f0454a85c6ab04ba127966543d7bb7a0.gif");
    background-size: cover;
  }
.font-style1 {
    color: white;
    font-size: 15px;
    font-style: italic;
}
.font-style2 {
    color: aqua;
    font-size: 15px;
    font-style: italic;

}
.font-style3 {
    color: blueviolet;
    font-size: 15px;
    font-style: italic;
}
